In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('olympics.csv',skiprows=[0])

In [23]:
df.columns

Index(['# Summer', '01 !', '02 !', '03 !', 'Total', '# Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '# Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total', 'country_code'],
      dtype='object')

In [3]:
df.head()

,Unnamed: 0,# Summer,01 !,02 !,03 !,Total,# Winter,01 !.1,02 !.1,03 !.1,Total.1,# Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [4]:
df['country_name']=df['Unnamed: 0'].str.split('\(|\)',expand=True).astype(str)[0]
df['country_name']=df['country_name'].str.strip()
df['country_code']=df['Unnamed: 0'].str.split('\(|\)',expand=True).astype(str)[1]
df=df.drop(['Unnamed: 0'],axis=1)

In [5]:
df=df.set_index('country_name')

In [29]:
def load_data(filename):
    df=pd.read_csv(filename+'.csv',skiprows=[0])
    df=df.rename(columns={'01 !' : 'Summer_Gold', '02 !' : 'Summer_Silver', '03 !' : 'Summer_Bronze',
                          '01 !.1' : 'Winter_Gold', '02 !.1' : 'Winter_Silver', '03 !.1' : 'Winter_Bronze',
                          '01 !.2' : 'Combined_Gold', '02 !.2' : 'Combined_Silver', '03 !.2' : 'Combined_Bronze'})
    df['country_name']=df['Unnamed: 0'].str.split('\(|\)',expand=True).astype(str)[0]
    df['country_name']=df['country_name'].str.strip()
    df['country_code']=df['Unnamed: 0'].str.split('\(|\)',expand=True).astype(str)[1]
    df=df.drop(['Unnamed: 0','Total'],axis=1)
    df=df.set_index('country_name')
    return df

In [30]:
data=load_data('olympics')

In [31]:
data.head()

,# Summer,Gold,Silver,Bronze,# Winter,01 !.1,02 !.1,03 !.1,Total.1,# Games,01 !.2,02 !.2,03 !.2,Combined total,country_code
country_name,,,,,,,,,,,,,,,
Afghanistan,13,0,0,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,0,0,0,0,0,2,3,4,5,12,ANZ

In [33]:
def first_country(dataframe):
    return dataframe.index[0]

In [34]:
first_country(data)

'Afghanistan'

In [35]:
def gold_medal(dataframe):
    i=dataframe['Gold'].argmax()   
    return dataframe.index[i]

In [40]:
data['Gold'].idxmax()

'Totals'